<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus interdum pellentesque tortor sit amet pharetra. Duis non nibh tempus, volutpat odio ac, tincidunt lorem. </p>

<%- include("footer") -%>
