<%- include("partials/header") -%>

    <h1>
        <%= pageTitle %>
    </h1>
    <p>
        <%= pageParagraph %>
    </p>

    <% console.log(posts); %>

        <!-- <% for(let i=0;i< posts.length;i++){ %>
        <% console.log(posts[i].title); %>
        <% }; %> -->

    <% posts.forEach(element=>{ %>
    <% console.log(element.title); %>
    <% }); %>

    <%- include("partials/footer") -%>